<html>
    <div>
    <form  name="signIn" method="post" action="/auth/signIn">
<div class="form-group">
  <input
    type="text"
    class="form-control"
    id="username"
    name="username"  
    placeholder="username"
    style="color: black;"
  />
</div>
<div class="form-group">
  <input
    type="password"
    class="form-control"
    id="password"
    name="password"
    placeholder="password"
    style="color: black;"
  />
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary btn-lg">
    Login
  </button>
</form>
    </div>
</html>
